.build
.swiftpm
.DS_Store
.xcbkptlist
.claude
EXECUTION_PLAN.md
Examples/VoicesApp/Config/Local.xcconfig
xcuserdata/*
*.pbxproj
*.resolved
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.xcuserdatad
*.xcuserdatad/xcdebugger
*.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
